.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  // border: 4px dashed rgb(170, 16, 16);
  position: absolute;
  top:50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.item{
  display: flex;
  align-items: center;
  gap: 3rem;
}